section {
    margin: 3em auto;
    width: 250px;
    height: 250px;
    border: 2px dotted green;
}

h1 {
    padding: 20px;
    text-align: center;
}

p {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 20px;
    border: 2px solid blue;
}